.HeaderRight{
    h1{
        color: #FF2B51;
        text-align: right;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.2px;
        p{
            font-weight: 600;
        }
    }
}