.Menu{
    ul{
        display: flex;
        align-items: center;
        gap: 30px;
        li{
            a{
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 1.32px;
            }
        }
    }
}